In [7]:
from interpol import interpolML

test_object = interpolML("2019-01-01", "2021-01-01", "2021-03-31")

In [9]:
test_object.data.filter(["Close"])

               Close
Date
2019-01-01  0.002392
2019-01-02  0.002407
2019-01-03  0.002360
2019-01-04  0.002315
2019-01-05  0.002319
...              ...
2021-03-28  0.053698
2021-03-28  0.054052
2021-03-29  0.053900
2021-03-30  0.053657
2021-03-31  0.061986

[818 rows x 1 columns]